<h2>Category</h2>
<a [routerLink]="['/category']" routerLinkActive="btn btn-primary" class="btn btn-primary" >Create Category</a>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of queryResult.items">
        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
        <td>
          <a [routerLink]="['/category/', c.id]">Details</a>
        </td>
      </tr>
    </tbody>
  </table>